
body {
  margin: 0;
  padding: 0;
}

.footer-cor-fundo {  /*cor de fundo do footer*/
  background-color: #1f1f1f;
}
.footer-texto-branco { /*Define a cor do texto*/
  color: #fff;
}
.footer-espacamento {  /*seria o tamanho  do espaçamento (retangulo preto)*/
  padding-top: 40px;
  
}
.container {  
  width: 90%;
  max-width: 1200px; 
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-flex { /*Layout flexível.*/
  display: flex;
}
.footer-justify-around {  /*Espaço igual ao redor dos itens*/
  justify-content: space-around;
}
.footer-column {  /*organiza os itens em uma coluna,todos alinhados ao topo, utilizando Flexbox*/
  max-width: 300px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.footer-line-height { /*ajusta o espaçamento vertical entre as linhas de texto*/
  line-height: 1.625;
}
.footer-item-gap > * + * {  /*espaçamento dos icones*/
  margin-left: 25px;
}
.footer-list-none {  /*Remove os marcadores de lista*/
  list-style: none;
  padding: 0;
}
.footer-margin-bottom { /*cria uma separação clara entre os itens.*/
  margin-bottom: 10px;
}
.footer-text-center { /*centraliza o texto*/
  text-align: center;
}
.footer-padding {
  padding-top: 16px;
  padding-bottom: 16px;
}
a { /*cor do texto e remove o sublinhado dos links*/
  color: inherit;
  text-decoration: none;
}

.footer-logo-title { /*Flexbox para organizar o logotipo e o texto*/
  display: flex;
  align-items: center;
}
.footer-logo-title img { /* separando o texto da imagem*/
  margin-right: 10px;
}
.footer-line {
  justify-content: center;
  align-items: baseline;
  background-color: #333333; 
  margin-left: 80px;
  width: 89%; 
}