.div-daddy {
    background-color: #f9f8fe;
    
    
}

.container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
    
    
    gap: 25px;
    /* gap: 110px; */
    
    background-color: #f9f8fe;
    
}
.titulo-product {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f8fe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 775px;
    
    
}
.product-em-altas {
    color: #474747;
    background-color: #f9f8fe;
    font-weight: 700;
    font-size: 24px;
    margin-left: 18px;
    
}
.verprodutos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
}
@media (max-width: 900px) {
    .container-card {
        justify-content: flex-start; /* Ajusta para início da linha */
        padding: 0 15px; /* Adiciona espaçamento lateral */
        
    }
    
    .titulo-product {
        gap: 15px; /* Reduz o espaçamento entre os itens */
        font-size: 16px; /* Reduz o tamanho do título */
    }
    
    .product-em-altas {
        font-size: 20px; /* Ajusta o tamanho do texto */
        margin-left: 10px; /* Ajusta a margem esquerda */
    }
    
    .verprodutos {
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Centraliza os itens */
    }
}
